.canvas-container {
  position: relative;

  .img-box {
    width: 100%;
  }

  .box {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.69);
    box-shadow: 0 0 1px #0cd808,0 0 2px #0cd808,0 0 6px #0cd808,0 0 12px #0cd808,inset 0 0 1px #0cd808,inset 0 0 2px #0cd808,inset 0 0 6px #0cd808,inset 0 0 12px #0cd808!important;
    border-color: #fff!important;
    z-index: 2;
    opacity: 1!important;
    cursor:pointer;
    border-radius: 10px;

    &.checked {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}